.bar_stack {
    background-image: url("../images/services_dog.png");
    background-size: cover;
    background-position: center center;
    height: 450px;
    position: relative;
}

.type-select-grid-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 1rem;
    padding: 10px;
	  margin: 0 auto 2%; /* add this line */
}
  
.type-select-grid-item {
  margin-top: 2%;
  margin-left: 5%;
  background-color: #C2BFBE;
  font-size: 150%;
  text-align: center;
  height: 70px;
  width: 100%;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #1D18F3;
  font-family: 'Joti One', sans-serif;
  overflow: hidden;
}






@media screen and (max-width: 768px) {
  .type-select-grid-item {
    font-size: 100%;
  }
}


@media screen and (max-width: 550px) {
  .selection {
    padding: 0 0 0 0 ;
  }
  
}



.service_ul {
  max-width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.service_ul li {
  flex: 0 0 30%;
  margin-bottom: 30px;
}

.service {
  position: relative;
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  margin: auto 5% auto 10%;
}

.service img {
  display: block;
  margin: 0 auto 20px;
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.service-title {
  margin-top: 0;
  color: white;
  background-color: #0E6BF6;
  padding: 2%;
}

.service .readmore {
  margin-top: 2%;
  padding: 2%;
  border: 1px solid #ccc!important;
  border-color: #000!important;
  text-decoration: none;

}

.service p {
  font-size: 14px;
  line-height: 1.5;
  color: #555;
}

.selected {
  background-color: #D9D9D9;
}

.bk-bg {
  background-color: #F8F1F1;
}

.ch-font {
	
  color: #1D18F3;
  font-family: 'Joti One', sans-serif;
  font-size: 22px;
}

.typeBlock {
  display: contents;
}

.font{
  font-size: 120%;
}

@media screen and (max-width: 768px) {
  .service_ul li {
    flex-basis: 45%;
  }
}

@media screen and (max-width: 650px) {
  .service_ul li {
    flex-basis: 100%;
  }
}


